@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";

@theme {
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer base {

    button:not(:disabled) {
        @apply cursor-pointer;
    }

    button[disabled] {
        @apply pointer-events-none opacity-50;
    }
}

@layer utilities {
    .btn-add-cart {
        @apply relative w-8 h-8 bg-rose-50 border border-rose-100 text-rose-600 hover:border-rose-600 hover:bg-rose-600 hover:text-rose-50 transition ease-in-out px-1.5 py-1 rounded-md;
    }

    .btn-add-cart svg {
        @apply absolute top-1/2 left-1/2 transform -translate-1/2 size-6;
    }

    .btn-is-loading svg {
        @apply hidden;
    }

    .btn-add-cart.btn-is-loading {
        @apply bg-rose-600 border-rose-600 text-rose-50 pointer-events-none;
    }

    .btn-is-loading::after {
        @apply w-4 h-4 rounded-full absolute top-1/2 left-1/2 content-[''];
        transform: translate(-50%);
        background-image: conic-gradient(transparent 5deg, #fff 360deg);
        mask: radial-gradient(farthest-side, transparent calc(100% - 1.3px), #fff 0);
        animation: loader-spin .5s linear infinite;
    }

    .btn-is-loading.theme-black::after {
        background-image: conic-gradient(transparent 5deg, #030712 360deg);
        mask: radial-gradient(farthest-side, transparent calc(100% - 1.3px), #030712 0);
    }
}

@keyframes loader-spin {
    0% {
        transform: translate(-50%, -50%) rotate(0);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
